<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springVueTest.mapper.MovieMapper">
	<select id="getMovieRelease" resultType="hashMap">
		SELECT *
		FROM MOVIE M
		LEFT OUTER JOIN MOVIE_RELEASE MR
		WHERE M.MOVIE_IDX = MR.MOVIE_IDX
	</select>
	<select id="getCinema" resultType="hashMap">
		SELECT *
    	FROM MOVIE_SCHEDULE MS
    	LEFT OUTER JOIN MOVIE_CINEMA MC
      	ON MS.CINEMA_IDX = MC.CINEMA_IDX
   		WHERE MS.MOVIE_IDX = #{MOVIE_IDX}
	</select>
	<select id="getMovieTime" parameterType="hashMap" resultType="hashMap">
		SELECT MS.*, MT.THEATER_NAME
		FROM MOVIE_SCHEDULE MS
		JOIN MOVIE_THEATER MT ON MS.THEATER_IDX = MT.THEATER_IDX
		WHERE DATE(MS.START_TIME) = #{DATE} AND MS.CINEMA_IDX = #{CINEMA_IDX} AND MS.MOVIE_IDX = #{MOVIE_IDX};
	</select>
	<select id="getSeat" parameterType="hashMap" resultType="hashMap">
		SELECT MS.*, COALESCE(MR.RESERVATION_STATUS, 'EMPTY') AS RESERVATION_STATUS
		FROM MOVIE_SEAT MS
		LEFT JOIN MOVIE_RESERVATION MR ON MS.SEAT_IDX = MR.SEAT_IDX
   		AND MR.SCHEDULE_IDX = #{SCHEDULE_IDX};
	</select>
</mapper>